  .gift-image {
    height: 100%;
    width: 50%;
    object-fit: cover;
    filter: brightness(90%);
  }

  .main-section-bottom-right {
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 900px;
    width: 100%;
    margin-top: 120px;

    .ms-m-description-right {
      display: inline-block;
      margin: 0 auto;
      margin-top: 300px;
      text-align: left;
      height: 200px;
      width: 500px;
    }

    .ms-message {
      line-height: 1.6;
    }

    a:link {
      text-decoration: underline;
    }
    
    a:visited {
      text-decoration: none;
      color: inherit;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    a:active {
      text-decoration: none;
    }
  }





  .soap-image {
    height: 100%;
    width: 50%;
    object-fit: cover;
    text-align: right;
    filter: brightness(90%);
  }

  .main-section-bottom-left {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    text-align: right;
    height: 900px;
    width: 100%;
    margin-bottom: 0px;

    .ms-m-description-left {
      height: 200px;
      width: 500px;
      text-align: left;
      margin-left: 200px;
      margin-top: -30%;

    }

    .ms-message {
      line-height: 1.6;
    }

    a:link {
      text-decoration: underline;
    }
    
    a:visited {
      text-decoration: none;
      color: inherit;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    a:active {
      text-decoration: none;
    }

  }

  .welcome-titles {
    font-family: Montserrat;
    font-weight: 800;
  }
