.nav-menu {
  position: sticky;
  top: 0;
  display: flex;
  padding: 1rem;


  a {
    text-decoration: none;
    &:focus, &:hover, &:visited {
      color: black;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Montserrat;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right: -650px;
    
    li {
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer;
      font-size: 1.1rem;
      font-family: Montserrat;
    }
  }
}