.main-section-container {
  width: 40%;
  margin: 3rem auto;

  h2 {
    font-size: 1.3rem;
  }

  .ms-m-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // height: 600px;
    // width: 500px;
  }

  .ms-m-description {
    p {
      font-size: 0.933rem;
      line-height: 1.5;
    }
  }

  .welcome-titles {
    letter-spacing: 2px;
    text-align: center;
  }

  @media(min-width: 1024px) {
    .main-section-middle {
      display: flex;
      justify-content: space-between;


      .ms-m-image {
        max-width: 500px;
        flex: 1 0 500px;
        width: 100%;
      }
      .ms-m-description {
        margin-left: 10px;
        align-self: center;
        line-height: 1.6;
        p {
          font-size: 1.1rem;
          line-height: 1.6;
        }
      }
    }
  }

}